<?xml version="1.0"?>
<config>
  <modules>
    <Magecat_Magecustom>
      <version>0.1.0</version>
    </Magecat_Magecustom>
  </modules>
  <global>
    <helpers>
      <magecustom>
        <class>Magecat_Magecustom_Helper</class>
      </magecustom>
    </helpers>
	<models>
	  <magecustom>
		<class>Magecat_Magecustom_Model</class>
		<resourceModel>magecustom_mysql4</resourceModel>
	  </magecustom>
	</models>
	<resources>
	  <categoryattribute1476423053_setup>
		<setup>
		  <module>Magecat_Magecustom</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1476423053_setup>
	  <categoryattribute1476423053_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1476423053_write>
	  <categoryattribute1476423053_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1476423053_read>
	</resources>
  </global>
</config> 