<?xml version="1.0"?>
<config>
  <modules>
    <ContentBlocks_MageCategory>
      <version>0.1.0</version>
    </ContentBlocks_MageCategory>
  </modules>
  <global>
    <helpers>
      <magecategory>
        <class>ContentBlocks_MageCategory_Helper</class>
      </magecategory>
    </helpers>
	<models>
	  <magecategory>
		<class>ContentBlocks_MageCategory_Model</class>
		<resourceModel>magecategory_mysql4</resourceModel>
	  </magecategory>
	</models>
	<resources>
	  <categoryattribute1476783284_setup>
		<setup>
		  <module>ContentBlocks_MageCategory</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1476783284_setup>
	  <categoryattribute1476783284_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1476783284_write>
	  <categoryattribute1476783284_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1476783284_read>
	</resources>
  </global>
</config> 