<?xml version="1.0"?>
<config>
  <modules>
    <CategoryAttrcustom_CustomCatAttr>
      <version>0.1.1</version>
    </CategoryAttrcustom_CustomCatAttr>
  </modules>
  <global>
    <helpers>
      <customcatattr>
        <class>CategoryAttrcustom_CustomCatAttr_Helper</class>
      </customcatattr>
    </helpers>
	<models>
	  <customcatattr>
		<class>CategoryAttrcustom_CustomCatAttr_Model</class>
		<resourceModel>customcatattr_mysql4</resourceModel>
	  </customcatattr>
	</models>
	<resources>
	  <categoryattribute1476356764_setup>
		<setup>
		  <module>CategoryAttrcustom_CustomCatAttr</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1476356764_setup>
	  <categoryattribute1476356764_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1476356764_write>
	  <categoryattribute1476356764_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1476356764_read>
	</resources>
  </global>
</config> 