<?xml version="1.0"?>
<config>
  <modules>
    <MageExtra_MageExtra>
      <version>0.1.1</version>
    </MageExtra_MageExtra>
  </modules>
  <frontend>
	 <layout>
		 <updates>
			 <mageextra>
				 <file>mageextra.xml</file>
			 </mageextra>
		 </updates>
	 </layout>
  </frontend>  
  <global>
    <helpers>
      <mageextra>
        <class>MageExtra_MageExtra_Helper</class>
      </mageextra>
    </helpers>
	<models>
	  <mageextra>
		<class>MageExtra_MageExtra_Model</class>
		<resourceModel>mageextra_mysql4</resourceModel>
	  </mageextra>
	</models>
	<resources>
	  <categoryattribute1477319018_setup>
		<setup>
		  <module>MageExtra_MageExtra</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1477319018_setup>
	  <categoryattribute1477319018_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1477319018_write>
	  <categoryattribute1477319018_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1477319018_read>
	</resources>
  </global>
</config> 