<?xml version="1.0"?>
<config>
  <modules>
    <ContentProportion_GridsCounts>
      <version>0.1.0</version>
    </ContentProportion_GridsCounts>
  </modules>
  <global>
    <helpers>
      <gridscounts>
        <class>ContentProportion_GridsCounts_Helper</class>
      </gridscounts>
    </helpers>
	<models>
	  <gridscounts>
		<class>ContentProportion_GridsCounts_Model</class>
		<resourceModel>gridscounts_mysql4</resourceModel>
	  </gridscounts>
	</models>
	<resources>
	  <categoryattribute1476786724_setup>
		<setup>
		  <module>ContentProportion_GridsCounts</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1476786724_setup>
	  <categoryattribute1476786724_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1476786724_write>
	  <categoryattribute1476786724_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1476786724_read>
	</resources>
  </global>
</config> 